header {
    width: 100%;
    height: 55px;
    font-family: sans-serif;
    font-size: 1.5rem;
    float: left;
    background: #FFFFFF;
    border: 1px solid #e0e0e0;
    box-shadow: 0 5px 5px -7px #989898;
  }
  

.logo img{
    max-width: 100%;
    max-height: 100%;
    width: 35px;
    position: fixed;
    padding-left: 13px;
    padding-top: 10px;
}

.search img {
    max-width: 100%;
    max-height: 100%;
    width: 30px;
    position: fixed;
    padding-left: 75px;
    padding-top: 12px;
}

.home img {
    max-width: 100%;
    max-height: 100%;
    width: 27px;
    position: fixed;
    padding-left: 32%;
    padding-top: 15px;
}

.watch img {
    max-width: 100%;
    max-height: 100%;
    width: 27px;
    position: fixed;
    padding-left: 40%;
    padding-top: 15px;
}

.market img {
    max-width: 100%;
    max-height: 100%;
    width: 30px;
    position: fixed;
    padding-left: 48%;
    padding-top: 15px;
}

.social img {
    max-width: 100%;
    max-height: 100%;
    width: 33px;
    position: fixed;
    padding-left: 56%;
    padding-top: 15px;
}

.game img {
    max-width: 100%;
    max-height: 100%;
    width: 33px;
    position: fixed;
    padding-left: 64%;
    padding-top: 15px;
}

.celulares {
    text-align: center;
    position: absolute;
    top: 150px;
    left: 70px;
    transition-duration: 100ms;
}

.celulares img {
    width: 200px;
}

.celulares p {
    margin-top: 20px;
    color: black;
}

.celulares:hover {
    transform: scale(1.1);
    transition-duration:100ms;
}

.segundoCelular, .segundoCelular img {
    left: 435px;
    width: 185px;
}

.terceiroCelular, .terceiroCelular img, .terceiroCelular p {
    left: 53%;
    top: 135px;
    width: 280px;
    margin-top: 0px;
    transition: left 300ms, top 300ms linear 300ms;
}

@media only screen and (max-width: 1300px) {
    .terceiroCelular {
        top: 500px;
        left: 40px;
        transition: top 300ms, left 300ms linear 200ms;
    }
}

.quartoCelular {
    left: 80%;
    transition: left 300ms, top 300ms linear 300ms;
}

@media only screen and (max-width: 1300px) {
    .quartoCelular {
        top: 520px;
        left: 420px;
        transition: top 300ms, left 300ms linear 300ms;
    }
}